__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.eggs/
*.egg-info/
dist/
build/
htmlcov/
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
fastf1_cache/
./data/cache/
*.hyper
*.db
*.sqlite
*.log
